*
!*/

!*.py
!README.md
!.gitignore

!AutoTradeMachine_Delta/data/m_AutoTrader/IPCLog_AUTOTRADER.txt
!AutoTradeMachine_Delta/data/m_AutoTrader/IPCRuntime_AUTOTRADER.txt

!AutoTradeMachine_Delta/data/m_Auxillary/IPCLog_AUXILLARY.txt
!AutoTradeMachine_Delta/data/m_Auxillary/IPCRuntime_AUXILLARY.txt

!AutoTradeMachine_Delta/data/m_BinanceAPI/IPCLog_BINANCEAPI.txt
!AutoTradeMachine_Delta/data/m_BinanceAPI/IPCRuntime_BINANCEAPI.txt

!AutoTradeMachine_Delta/data/m_DataAnalysis/IPCLog_DATAANALYSIS.txt
!AutoTradeMachine_Delta/data/m_DataAnalysis/IPCRuntime_DATAANALYSIS.txt

!AutoTradeMachine_Delta/data/m_DataManagement/IPCLog_DATAMANAGEMENT.txt
!AutoTradeMachine_Delta/data/m_DataManagement/IPCRuntime_DATAMANAGEMENT.txt

!AutoTradeMachine_Delta/data/m_GUI/IPCLog_GUI.txt
!AutoTradeMachine_Delta/data/m_GUI/IPCRuntime_GUI.txt
!AutoTradeMachine_Delta/data/m_GUI/*.bin
!AutoTradeMachine_Delta/data/m_GUI/imgs/**

!AutoTradeMachine_Delta/data/m_MAIN/initializationSettings.txt
!AutoTradeMachine_Delta/data/m_MAIN/processesTimerRecord.txt
!AutoTradeMachine_Delta/data/m_MAIN/systemMessages.txt

!AutoTradeMachine_Delta/data/m_SecurityControl/IPCLog_SECURITYCONTROL.txt
!AutoTradeMachine_Delta/data/m_SecurityControl/IPCRuntime_SECURITYCONTROL.txt

